body { 
    font-family: Helvetica, sans-serif;
    font-size: 1.2vmax;
    color: #555;
}
ul p {
    position: relative;
    margin-bottom: 0;
    padding-bottom: 1.5em;
}
ul p::after {
    /* bullet points */
    content:"";
    position: absolute;
    left: -21px;
    top: 4px;
    width: 6px;
    height: 6px;
    background:#bbb;
    border-radius:50%;
}
ul p::before {
    /* lines */
    content: "";
    position: absolute;
    left: -18px;
    border-left: 1px solid #aaa;
    height: 145%;
    width: 1px;
}
ul p:first-child::before {
    top: 6px;
}
ul p:last-child::before {
    height: 0px;
}
background {
    display: flex;
    flex-direction: column;
}

container {
    max-width: 95%;
    min-width: 50%;
    align-self: center;
}

header {
    max-width: 95%;
    min-width: 50%;
    align-self: center;
}