<!--default.html-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{page.title}}</title>
        <style>
            body {
                background-color: #121212;
                color: #eee;
                font-family: sans-serif;
            }
        </style>
    </head>
    <body>
        <header>
            <wrapper>
                <site-title>
                    CS-4100 Blog | Brandan Cavender
                </site-title>
            </wrapper>
        </header>
        {{content}}
    </body>
</html>