<!--home.html-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{page.title}}</title>
        <style>
            body {
                background-color: #121212;
                color: #eee;
                font-family: sans-serif;
            }
            container {
                margin: 10px auto;
                max-width: 600px;
                display: block;
            }
            site-title {
                text-align: center;
            }
        </style>
    </head>
    <body>
        <header>
            <wrapper>
                <site-title>
                    <h2>CS-4100 Blog | Brandan Cavender</h2>
                </site-title>
            </wrapper>
        </header>
        <container>
            {% assign seminar = site.posts | where: "categories", "Senior_Seminar" %}
            {% assign gbdev = site.posts | where: "categories", "GBDev" %}
            <h3>Senior Seminar</h3>
            <ul>
                {% for post in seminar %}
                    <p>{{ post.date | date: "%b %d, %Y" }} - <a href="{{ post.url | relative_url }}">{{post.title}}</a></p>
                {% endfor %}
            </ul>
            <h3>Updates on Gameboy Roguelike</h3>
            <ul>
                {% for post in gbdev %}
                    <p>{{ post.date | date: "%b %d, %Y" }} - <a href="{{ post.url | relative_url }}">{{post.title}}</a></p>
                {% endfor %}
            </ul>
        </container>
    </body>
</html>