<!--home.html-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{page.title}}</title>
        <link href="/blog/style.css" rel="stylesheet">
    </head>
    <body>
        <background>
            <header>
                <wrapper>
                    <site-title>
                        <h2>CS-4100 Blog</h2>
                        <p>Brandan Cavender</p>
                        <ul>
                            <li><a href="#SeminarPosts">CS-4100 Posts</a></li>
                            <li><a href="#GBDevPosts">Gameboy Gamedev Posts</a></li>
                        </ul>
                    </site-title>
                </wrapper>
            </header>
            <container>
                {% assign seminar = site.posts | where: "categories", "Senior_Seminar" %}
                {% assign gbdev = site.posts | where: "categories", "GBDev" %}
                <h3 id="SeminarPosts">Senior Seminar</h3>
                <ul>
                    {% for post in seminar %}
                        <p>{{ post.date | date: "%b %d" }} - <a href="{{ post.url | relative_url }}">{{post.title}}</a></p>
                    {% endfor %}
                </ul>
                <h3 id="GBDevPosts">Updates on Gameboy Roguelike</h3>
                <ul>
                    {% for post in gbdev %}
                        <p>{{ post.date | date: "%b %d" }} - <a href="{{ post.url | relative_url }}">{{post.title}}</a></p>
                    {% endfor %}
                </ul>
            </container>
        </background>
    </body>
</html>