<!--home.html-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{page.title}}</title>
        <link href="/blog/style.css" rel="stylesheet">
    </head>
    <body>
        <background>
            <header>
                <wrapper>
                    <site-title>
                        <h2>CS-4100 Blog</h2>
                        <p>Brandan Cavender</p>
                        <a href="/blog/">Home</a>
                    </site-title>
                </wrapper>
            </header>
            <container>
                {% if page.title %}
                    <h3>{{page.title}}</h3>
                {% else %}
                    <h3>Untitled Post</h3>
                {% endif %}
                {{ page.date | date_to_long_string: "ordinal", "US" }}
                {{ content }}
            </container>
                <script src="https://utteranc.es/client.js"
                    repo="cavenderbi/blog"
                    issue-term="pathname"
                    theme="github-light"
                    crossorigin="anonymous"
                    async>
                </script>
        </background>
    </body>
</html>